body
{
    overflow-x: hidden;
    margin: 0;
}

a
{
    text-decoration: none;
    color: black;
}

.container
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-y: hidden;
    overflow-x: hidden;
    display: grid;
    height: 200vh;
    width: 100vw;
    grid-template-columns: auto;
    grid-template-rows: 15vh 165vh 20vh;
    grid-template-areas: 
    'ph' 'ph' 'ph'
    'mn' 'mn' 'mn'
    'ft' 'ft' 'ft'
}

header
{
    grid-area: "hd";
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.phold
{
    grid-area: "ph";
    background-color: #ffffff;
}

.topbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

nav
{
    display: flex;
    margin: 5vw;
    width: 50vw;
    justify-content: space-between;
}

.logo
{
    
    width: 50px;
    height: 50px;
    margin-left: 5vw;
}
.logo img
{
    width: 100px;
}

.click
{

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


main
{
    grid-area: "mn";
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'b1' 't1'
    't2' 'b2'
}

.bild1
{
    grid-area: "b1";
}

.tex1
{
    grid-area: "t1";
}

.tex2
{
    grid-area: "t2";
}

.bild2
{
    grid-area: "b2";
}

footer
{
    grid-area: "ft";
    background-color: rgb(20, 20, 20);
    transform: skewY(5deg);
    height: auto;
    width: 200vw;
}

.vrid
{
    background-color: rgb(20, 20, 20);;
    height: 100px;
    transform: skewY(-5deg);
    height: 30vh;
}

.kontakt
{
    margin: 5vw;
    width: 15vw;
    height: 100px;
}
.kontakt h5
{
    color: aliceblue;
    margin: 0;
}
.kontakt h4
{
    color: aliceblue;

}

.kontakt a
{
    color: aliceblue;
}

.koncon
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
}

@media screen and (min-width:600px) {
    footer
    {
        transform: skewY(2deg);
    }
    .vrid
    {
        transform: skewY(-2deg);
    }
    .kontakt
    {
        transform: scale(1.2);
    }
    nav
    {
        width: 30vw;
    }
    .click
    {
        transform: scale(1.5)
    }
    .logo img
    {
        width: 150px;
    }
    .container
    {
        height: 210vh;
        grid-template-rows: 15vh 165vh 25vh;
    }
}

@media screen and (max-width:600px) 
{
    .mainBild
    {
        height: 100vh;
        width: auto;
    }
    .mitt
    {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    }
}